<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About CSS</title>
    <link rel="stylesheet" href="static/about_css.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="UMD Logo">
        <a class="home_button" href="/hello">HOME</a>
    </div>

    <div class="content">
        <div class="left">
            <h1>About Me</h1>
            <p>Hi, my name is Eliana Choi.
                I am excited to learn more about different coding languages to create a super cool project!
                I have always been interested in pursuing a career in information systems. With my
                double major in Information Systems and Finance, I plan to work for a financial institution
                working in IT auditing for federal clients. I am from Gaithersburg, Maryland, and have lived there for the majority of my life.
                I attended Magruder High School and have always been interested in attending UMD for its renowned
                business school and computer science programs.</p>
            <p>In my free time, I am a webcomic creator and I self-publish my comics online for <em>millions</em> to read.
                Additionally, I am the owner of a small art business and spend my time during school breaks managing booths
                at conventions where I sell prints of my artwork, physical copies of my webcomic, and other fun trinkets.</p>
            <a class="button" target="_blank" href="https://www.webtoons.com/en/canvas/vampire-lord-/list?title_no=70655">VIEW WEBCOMIC</a>
            <a class="button" target="_blank" href="https://www.instagram.com/eliesartz/">VIEW ART</a>
        </div>

        <div class="right">
            <div class="right_top">
                <div class="education">
                <h2>Education</h2>
                    <ul>
                        <li><b>School:</b> University of Maryland, College Park</li>
                        <li><b>Major:</b> Information Systems & Finance</li>
                        <li><b>Year:</b> Junior</li>
                    </ul>
                </div>

                <div class="extra_curr">
                    <h2>Extra-Curriculars</h2>
                        <ol>
                            <li>alpha Kappa Delta Phi Sorority</li>
                            <li>Ascend</li>
                            <li>UMD BITS</li>
                        </ol>
                </div>
            </div>
            <div class="right_bottom">
                <div class="schedule">
                    <h2>Courses</h2>
                    <p id="paragraph3">
                        Here are the classes that I am currently taking for the Spring 2024 semester.
                    </p>
                    <!--Table of courses taken and the semester they were taken in-->
                    <table>
                        <tr>
                            <th>Course</th>
                            <th>Semester</th>
                        </tr>
                        <tr>
                            <td>BMGT407</td>
                            <td>Spring 2024</td>
                        </tr>
                        <tr>
                            <td>BMGT404</td>
                            <td>Spring 2024</td>
                        </tr>
                        <tr>
                            <td>ASTR350</td>
                            <td>Spring 2024</td>
                        </tr>
                        <tr>
                            <td>BMGT407</td>
                            <td>Spring 2024</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <!--Link to /hello route-->


</body>
</html>