<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <!--Image of UMD logo-->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="UMD Logo">

    <!--Introduction of myself-->
    <h1>About Me</h1>
    <p>Hi, my name is Eliana Choi and I go by the nickname, Elie. I am excited to learn more about different coding languages to create a super cool project!</p>

    <!--Information about my school history-->
    <h2>Education</h2>
    <ul>
        <li><b>School:</b> University of Maryland, College Park</li>
        <li><b>Major:</b> Information Systems & Finance</li>
        <li><b>Year:</b> Junior</li>
    </ul>

    <!--Information about my extra-curricular activities-->
    <h2>Extra-Curriculars</h2>
    <p>In my free time, I am a webcomic creator and I self-publish my comics online for <em>millions</em> to read.</p>
    <a href="https://www.webtoons.com/en/canvas/vampire-lord-/list?title_no=70655">Read my webcomic here</a>
    <ol>
        <li>alpha Kappa Delta Phi <em>Sorority</em>
            <a href="https://www.akdphi.org/">Read more about the sorority here</a>
        </li>
        <li>Ascend</li>
        <li>UMD BITS</li>
    </ol>

    <!--Table of courses taken and the semester they were taken in-->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>BMGT404</td>
            <td>Spring 2024</td>
        </tr>
        <tr>
            <td>ASTR350</td>
            <td>Spring 2024</td>
        </tr>
    </table>

    <!--Link to /hello route-->
    <a href="http://127.0.0.1:5000/hello">Hello Route</a>

</body>
</html>